body{color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    background-color: #111111;
    width: 1440px;
    font-size: 1.2rem;
}
h6{color: gray;}
header{width: 1440px;
height: 692px;
border: 3px solid rgb(8, 8, 8);
}
.navbar{display: flex;
justify-content: space-between;
}
.name{margin-top: 20px;
margin-left: 150px;
color: #E6533C;}
.buttons{margin-top: 35px;
margin-right: 150px;
}
.navbtn{border: none;
background: none;
margin-right: 30px;
color: #FFFFFF;
cursor: pointer;}
.home{background-color: #E6533C;
    margin-right: 30px;
color: #FFFFFF;
border: 2px solid #E6533C;
border-radius: 20px;
padding: 10px 15px;
cursor: pointer;
}
.home:hover{background-color: orange;}
.headtext2{margin-left: 150px;}
.shape{font-family: 'Miama', sans-serif;
font-size: 5rem;}
.gray{color: gray;}
.joinbtn{background-color: #E6533C;
border-radius: 20px;
padding: 10px 15px;
cursor: pointer;
color: #FFFFFF;
border: 2px solid #E6533C;
margin-right: 10px;
}
.joinbtn:hover{cursor: pointer;
background-color: orange;}
.downapp{border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
background-color: #111111;
color: #FFFFFF;
border: 2px solid #FFFFFF;}
.headtext{display: flex;
justify-content: space-between;}
.firstpic{margin-right: 150px;
}
.vidtutorial{background-color: transparent;
border: 2px solid #FFFFFF;
color: #FFFFFF;
border-radius: 8px;
padding: 10px;
width: 100px;
position: relative;
bottom: 150px;
right: 40px;
}
.workoutvids{background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 8px;
padding: 10px;
width: 100px;
position: relative;
bottom: 500px;
left: 250px;
}
.habits{text-align: center;
margin-top:100px;}
.workpics{display: flex;
    justify-content: space-between ;
text-align: center;
margin: 150px;
margin-top: 70px;
}
.movement{ width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;}
.time{ width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;}
.practice{ width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;}
.weightloss{ width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;}
    .run{background-color: #222222;
    border-radius: 10px;
    padding: 40px;
margin: 180px;
margin-top: -70px;
width: auto;
height: auto;
display: flex;
justify-content: space-between;}
.runtext{margin: 20px;
}
.runimg{height: 200px;
width: 250px;
}
.runimg:hover{transform: scale(2);
transition: 2s;
}
.run{background-color: #222222;
    border-radius: 10px;
    padding: 40px;
margin: 180px;
margin-top: -70px;
width: auto;
height: auto;
display: flex;
justify-content: space-between;}
.runtext{margin: 20px;
}
.runimg{height: 200px;
width: 250px;
}
.runimg:hover{transform: scale(2);
transition: 3s;
}
.bmichartcalc{background-color: #222222;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.bmi-table{width: 300px;
    height: 250px;
border-collapse: collapse;
text-align: left;
border: 2px solid #3C3C3C}
th, tr, td{border: 2px solid #3C3C3C;}
tr, td{color: gray;}
.bmi-table th{font-weight: bold; color: #FFFFFF;}
.calculator{display: flex;
flex-direction: column;}
.input{width: 500px;
    height: 200px;
    gap: 10px;
    display: grid;
grid-template-columns: repeat(2, 1fr);}
.calcbtn{background-color: #E6533C;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    color: #FFFFFF;
    border: 2px solid #E6533C;
    margin-right: 10px;
font-size: medium;}
.calcbtn:hover{background-color: orange;}
    .activity{width: 205%}
    .inpbtn{color: gray;
        border: 2px solid #3C3C3C;
        border-radius: 10px;
    background-color: #3C3C3C;}
.teampics{
background-color: #222222;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
padding: 10px;
margin: 100px;
margin-left: 60px;
border: 2px solid #222222;
border-radius: 20px;
width: 1300px;
height: auto;
}
.teampics img {
width: 100%;
height: 100%;
}
.teamimgs{text-align: center;
margin: 15px;
width: 400px;
height: 400px;
overflow: hidden;
border: 2px solid black;
border-radius: 20px;}
.nutritiontext{text-align: center;}
.nutritionimg{justify-content: center;
display:flex;
}
.biryani{border: 2px solid black;}
.meat{height: 200px;
width: 300px;
border: 2px solid black;}
.veggies{height: 200px;
    width: 300px;
    border: 2px solid black;}
    .secondaryimg{display: flex;
        flex-direction: column;}
.footer{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 50px 100px;
margin-bottom: 0px;}
.footertext{}
.getstarted1{display: flex;
flex-direction: column;
}
.getstarted1child{display: flex;
flex-direction: column;
margin-top: 5px;
gap: 20px;
}
.getstarted2child{
    display: flex;
flex-direction: column;
gap: 20px;
}
a{text-decoration: none;
color: gray;}
.footer-bottom {
    margin-top: 20px;
}

.footer-bottom hr {
    border: 0;
    height: 1px;
    background-color: gray;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    color: gray;
}
@media (max-width: 576px) {
    body {
        width: 100%;
        font-size: 1rem; 
    }
    header {
        width: 100%;
        height: auto;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .name, .buttons {
        margin: 10px 0;
    }
    .buttons {
        margin-right: 0;
    }
    .headtext {
        flex-direction: column;
        align-items: center;
    }
    .headtext2 {
        margin-left: 0;
        text-align: center;
    }
    .headpic{width: 50%;
        margin-right: 100px;       
    }
    .workpics{
        flex-direction: column;
        margin: 0;
    }
    .movement, .time, .practice, .weightloss {
        width: 150px;
        height: 150px;
    }
    .run{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 10px;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }    
    .bmichartcalc{flex-direction: column;
        text-align: center;
    }
    .bmi-table{margin-left: 60px;}
    .calculator{margin-top: 20px;
    }
    .inpbtn{width: 150px;       
    }
    .teampics{display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 90%;
    }
    .nutritionimg{display: flex;
        flex-direction: column;
        width: 95%;
    }
    .secondaryimg{display: flex;
    flex-direction: column;
    }
    .meat{width: 456px;}
    .veggies{width: 456px;}
    .footer{display: flex;
    flex-direction: column;
text-align: center;}
}



